@model Store.Domain.Models.User
@{
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
<h4>Вход</h4>
<div class="container">
    <div class="row">
        <div class="form-group 
             col-lg-8 col-lg-offset-2
             col-md-8 col-md-offset-2
             col-sm-8 col-sm-offset-2
             col-xs-12">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group 
             col-lg-8 col-lg-offset-2
             col-md-8 col-md-offset-2
             col-sm-8 col-sm-offset-2
             col-xs-12">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
</div>


