
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 previewProduct" ng-repeat="product in products">
            <h3>{{product.Name}}</h3>
            <img class="previewImage" 
                 src="http://vashalyalya.ru/uplfile/vashalyalya.ru/user/172101025072422.jpg"/>
            
            <h3>{{product.Price}} р.</h3>
        </div>
    </div>
</div>
