
@{
    ViewBag.Title = "Products";
}
@Scripts.Render("~/bundles/angular")
<script src="~/Scripts/angularModules/productApp.js"></script>

<h2>Products</h2>

<div ng-app="productsApp">
    <div ng-view></div>
</div>