
@{
    ViewBag.Title = "Products";
}
@Scripts.Render("~/bundles/angular")
<script src="~/Scripts/angularModules/productApp.js"></script>
@*<script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>*@

<div ng-app="productsApp">
    <div ng-view></div>
</div>