
<div>
    <div ng-controller="accountController" class="modal-demo">
        @*<script type="text/ng-template" id="myModalContent.html">
            Login
        </script>*@


        <div class="loginButtons">
            <button class="btn btn-info btn-xs" ng-click="open('sm')">Войти</button>
            <button class="btn btn-info btn-xs">Зарегистрироваться</button>
        </div>
    </div>
</div>

