<div class="cssmenu">
    <ul>
        <li class="active"><a href="#">Главаная</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
</div>
