html { overflow-y: scroll; }
body {
    padding-bottom: 20px;
    /*background-color: #cfe0e8;*/
    background-image: url("images/background2.jpg");
    background-repeat: repeat;
    background-size: 10%;
    color: #4f6185;
    font-family: 'a_FuturaRound', arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
}
.underHeader {
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/************Fonts*************/

@font-face {
    font-family: 'a_FuturaRound';
    font-style: normal;
    font-weight: 400;
    src: local('a_FuturaRound'), local('a_FuturaRound-Regular'),
        url('fonts/a_futuraround.woff') format('woff'),
        url('fonts/a_futuraround.ttf') format('truetype');
}
/* Header area */

.header {       
    min-height: 100px;
    margin: 20px;
}

.headerText > h1 {
    font-family: 'a_FuturaRound', arial;
    font-size: 24px;
    color: #9a68d0;
    text-shadow:  
        1px 1px #b3cff7, 
        -1px -1px 0 #b3cff7, 
        1px -1px 0 #b3cff7,
        -1px 1px 0 #b3cff7;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 0;
}

.logo {
    text-shadow:2px 1px 5px rgba(72,36,255,0.9);
    font-weight:bold;
    font-style:italic;
    color:#E7ED32;
    letter-spacing:3pt;
    word-spacing:7pt;
    font-size:42px;
    text-align:left;
    font-family:georgia, serif;
    line-height:2;
    margin:0px;
    padding:0px;
}

/* Content area */

.previewImage {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
}

.previewProduct {
    background: rgba(179, 207, 247, 0.6);
    border: 3px solid #afc2d0;
    margin: 5px;
    min-width: 140px;
    color: #4f6185;
    height: 400px;
}

.previewProduct:hover {
    background: rgba(179, 207, 247, 1);
    cursor: pointer;
    margin: 5px;
}

.previewProduct > a, h3, h4 {
    text-align: center;
    font-family: 'a_FuturaRound', arial;
    font-size: 18px;
}

.previewProduct > h3, a {
    color: #4f6185;
    padding: 5px;
}

.previewProduct > h4 {
    color: #c92557;
    padding: 5px;
    position: absolute;
    bottom: 0;
}
.previewProduct > p{
    padding: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.previewProduct > a:hover {
    color: brown;
}
/*********Product Details**************/

.productDetails-slides {
    display: inline-block;
}

.productDetails-image {
  width: auto;
  max-width: 100%;
  height: 300px;
  max-height: 300px;
}

@media(max-width:768px) {
      .productDetails-image {
      width: auto;
      max-width: 100%;
      height: 200px;
      max-height: 200px;
    }  
}

.productDetails-info {
    display: inline-block;   
}


/************Navigation bar************/

.barButton {
    background: #b698d6;
    text-align: center;
    display: inline-block;
    width: 100%;
    min-height: 30px;
    min-width: 90px;
    border: 2px solid #afc2d0;
    -ms-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    color: #e6f5fd;
    font-weight: 900;
    letter-spacing: 2px;
}

.navigationBar > a {
    text-decoration: none;
}

.barButton:hover {
    background: #9a68d0;
    cursor: pointer;
}

.barButtonActive {
    background: #9a68d0;
}

.tabMenu {
    margin: 20px;
}

/*******************Buttons*************/
.btn-default {
    margin-top: 25px;
    margin-left: 10px;
}
.btn-default > a {
    text-decoration: none;
}

/**************************************/