
  update [Store].[dbo].[Products] 
  set Description = 'Колесо + Качалка; до 3х лет'
  where id = 18

  update [Store].[dbo].[Products] 
  set Description = 'Колесо + Качалка + Ящик; до 3х лет'
  where id = 19

  update [Store].[dbo].[Products] 
  set Description = 'Маятниковый механизм поперечного качения; до 3х лет'
  where id = 20

  update [Store].[dbo].[Products] 
  set Description = 'Маятниковый механизм поперечного качения + Ящик; до 3х лет'
  where id = 21

  update [Store].[dbo].[Products] 
  set Description = 'Маятниковый механизм продольного качения; до 3х лет'
  where id = 22

  update [Store].[dbo].[Products] 
  set Description = 'Маятниковый механизм продольного качения + Ящик; до 3х лет'
  where id = 23

  update [Store].[dbo].[Products] 
  set Description = 'Улучшенный маятниковый механизм поперечного качения + закрытый ящик из ЛДСП + механизм подъема - опускания передней спинки с кнопкой + накладка из ПВХ "грызунок"; до 3х лет'
  where id = 24